<div class="h-100">
    <div class="d-flex justify-content-between">
        <h1>Cuentas</h1>
        <div class="d-flex align-items-center">
            <button nbButton ghost nbTooltip="Crear nueva cuenta" (click)="addUser()">
                <nb-icon icon="person-add-outline" status="primary"></nb-icon>
            </button>
        </div>
    </div>
    <nb-tabset>
        <nb-tab tabTitle="Buscar cuenta">
            <app-account-search-tab></app-account-search-tab>
        </nb-tab>
        <nb-tab tabTitle="Invitaciones de registro">
            <app-signup-invitations-tab #invitationsTab></app-signup-invitations-tab>
        </nb-tab>
        <nb-tab tabTitle="Grupos">
            <app-groups-tab></app-groups-tab>
        </nb-tab>
    </nb-tabset>
</div>