<nb-card class="h-100" *ngIf="loadingForm" [nbSpinner]="true" nbSpinnerStatus="primary">
    <nb-card-body></nb-card-body>
</nb-card>
<form *ngIf="!loadingForm">
    <h1>Buscador de documentos</h1>
    <nb-card>
        <nb-card-header>Ingresar parámetros de búsqueda</nb-card-header>
            <nb-card-body>
                <form [formGroup]="searchForm" (ngSubmit)="search()">
                    <div class="form-group">
                        <label class="label col-form-label">Número</label>
                        <input type="number" nbInput fullWidth formControlName="number" placeholder="Ingresar número">
                    </div>
                    <div class="form-group">
                        <label class="label col-form-label">Nombre</label>
                        <input nbInput fullWidth formControlName="name" placeholder="Ingresar nombre">
                    </div>
                    <div class="form-group">
                        <label class="label col-form-label">Tipo de documento</label>
                        <nb-select fullWidth placeholder="Seleccionar tipo de documento" formControlName="documentTypeId">
                            <nb-option *ngFor="let item of documentTypes" [value]="item.id">{{item.description}}</nb-option>
                            <nb-option value="*">Todos</nb-option>
                        </nb-select>
                    </div>
                    <div class="form-group">
                        <label class="label col-form-label">Dependencia emisora</label>
                        <nb-select fullWidth placeholder="Seleccionar dependencia" formControlName="issuerId">
                            <nb-option *ngFor="let item of issuers" [value]="item.id">{{item.description}}</nb-option>
                            <nb-option value="*">Todas</nb-option>
                        </nb-select>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label col-form-label">Fecha de emisión (desde)</label>
                                <input nbInput fullWidth [nbDatepicker]="datepickerStart" placeholder="Ingresar fecha en formato dd/mm/aa" formControlName="issueDateStart" (keydown)="$event.preventDefault()">
                                <nb-datepicker #datepickerStart format="dd/MM/yyyy"></nb-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label col-form-label">Fecha de emisión (hasta)</label>
                                <input nbInput fullWidth [nbDatepicker]="datepickerEnd" placeholder="Ingresar fecha en formato dd/mm/aa" formControlName="issueDateEnd" (keydown)="$event.preventDefault()">
                                <nb-datepicker #datepickerEnd format="dd/MM/yyyy"></nb-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <button *ngIf="!loadingResults"status="primary" nbButton type="submit">Buscar</button>
                        <nb-card *ngIf="loadingResults" class="ghost-card" [nbSpinner]="true" nbSpinnerSize="small" nbSpinnerStatus="primary">
                            <nb-card-body></nb-card-body>
                        </nb-card>
                    </div>
                </form>
            </nb-card-body>
    </nb-card>
    <nb-card *ngIf="documents">
        <nb-card-header>
          Resultados de la búsqueda
        </nb-card-header>
        <nb-list>
            <nb-list-item *ngIf="documents.length==0">
                No existen documentos con los parámetros de búsqueda ingresados
            </nb-list-item>
            <nb-list-item *ngFor="let document of documents">
                <div class="d-flex flex-column">
                    <div class="w-100">
                        <a [routerLink]="['/documentos','editar']" [queryParams]="{id: document.id}">
                            <b>{{document.name}}</b>
                        </a> <br>
                        Tipo: {{document.documentType}}<br>
                        Emisor: {{document.issuer}}<br>
                        Fecha de emisión: {{document.issueDate}}<br>
                    </div>
                </div>
            </nb-list-item>
        </nb-list>
    </nb-card>
</form>