<nb-card class="h-100" *ngIf="viewState == 'loading'" [nbSpinner]="true" nbSpinnerStatus="primary">
    <nb-card-body></nb-card-body>
  </nb-card>
<nb-card class="h-100" *ngIf="viewState == 'rendering'">
    <nb-card-header>Agregar acceso compartido</nb-card-header>
    <nb-card-body>
        <nb-select fullWidth placeholder="Seleccionar cuenta" [formControl]="userIdFormControl">
            <nb-option *ngFor="let user of users" [value]="user.id">{{user.name}} {{user.lastName}}</nb-option>
        </nb-select>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" (click)="submit()" class="mr-4">Guardar</button>
        <button nbButton (click)="cancel()">Cancelar</button>
    </nb-card-footer>
</nb-card>