<nb-card>
  <nb-card-header *ngIf="!removed">Remover grupo</nb-card-header>
  <nb-card-body>
    <div *ngIf="!loading && !removed">
      ¿Confirma que desea remover al grupo <b>{{ group?.name }}</b>?
    </div>

    <div class="d-flex justify-content-center" *ngIf="loading">
      <nb-spinner status="danger"></nb-spinner>
    </div>

    <div class="text-success text-center" *ngIf="removed">
      Operación realizada con éxito
    </div>
  </nb-card-body>
  <nb-card-footer *ngIf="!loading" class="d-flex justify-content-end" style="gap: .5rem;">
    <button *ngIf="!removed" nbButton status="danger" (click)="confirm()">Remover</button>
    <button *ngIf="!removed" nbButton status="basic" (click)="cancel()">Cancelar</button>
    <button *ngIf="removed" nbButton status="primary" (click)="close()">Cerrar</button>
  </nb-card-footer>
</nb-card>