<div class="h-100">
    <nb-card class="h-100" *ngIf="viewState == 'loading'" [nbSpinner]="true" nbSpinnerStatus="primary">
        <nb-card-body></nb-card-body>
    </nb-card>
    <div *ngIf="viewState == 'rendering'">
        <div class="flex-container">
            <div class="d-flex justify-content-end py-2">
                <div class="d-flex align-items-center text-align-center">
                    <button class="ghost-btn" nbButton size="tiny" status="primary" (click)="openShareLinkDialog(shareLinkDialog)">
                        Obtener enlace
                    </button>
                </div>
            </div>
            <div class="scrollable">
                <nb-card>
                    <nb-card-header>
                        Nivel de visibilidad del documento
                    </nb-card-header>
                    <nb-card-body>
                        <nb-select fullWidth placeholder="Seleccionar inicio" [(selected)]="documentVisibilityLevelId">
                            <nb-option *ngFor="let item of visibilityLevels" [value]="item.id" (click)="onVisibilityLevelSelect(item.id)">{{item.label}}</nb-option>
                        </nb-select>
                    </nb-card-body>
                </nb-card>
                <nb-card *ngIf="documentVisibilityLevelId == 1">
                    <nb-card-header>
                        <div class="d-flex justify-content-between">
                            Accesos a este documento
                            <div class="d-flex align-items-center text-align-center">
                                <div class="mr-2" nbTooltip="Añadir acceso">
                                    <button class="ghost-btn" nbButton ghost (click)="addDocumentSharedAccess()">
                                        <nb-icon icon="plus-outline" status="primary"></nb-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </nb-card-header>
                    <nb-list>
                        <nb-list-item>
                            <div class="w-100 d-flex flex-column">
                                <div class="w-100 d-flex justify-content-between">
                                    <div class="d-flex flex-column">
                                        <div>
                                            <nb-icon icon="person-outline"></nb-icon>
                                            <b class="ml-2">{{owner['name']}} {{owner['lastName']}}</b>
                                        </div>
                                        <div>
                                            Posee la propiedad de este documento
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nb-list-item>
                        <nb-list-item *ngFor="let sharedAccess of documentSharedAccesses; let i=index">
                            <div class="w-100 d-flex flex-column">
                                <div class="w-100 d-flex justify-content-between">
                                    <div class="d-flex flex-column">
                                        <div>
                                            <nb-icon *ngIf="sharedAccess.resourceType === 'redactaUser'" icon="person-outline"></nb-icon>
                                            <nb-icon *ngIf="sharedAccess.resourceType === 'group'" icon="people-outline"></nb-icon>
                                            <b class="ml-2"
                                               *ngIf="sharedAccess.resourceType === 'redactaUser'">
                                                {{ getSharedAccessName(sharedAccess) }}
                                            </b>
                                            <b class="ml-2"
                                               *ngIf="sharedAccess.resourceType === 'group'"
                                                [nbPopover]="groupMembersTemplate"
                                                [nbPopoverContext]="getGroupMembers(sharedAccess.resourceId)"
                                                nbPopoverTrigger="hover"
                                                nbPopoverPlacement="bottom">
                                                {{ getSharedAccessName(sharedAccess) }}
                                            </b>
                                        </div>
                                        <div>
                                            Modo de acceso: {{getAccessMode(sharedAccess.accessModeId)?.label}}
                                            <button nbButton class="ml-2" size="tiny" status="primary" (click)="changeAccessMode(sharedAccess.id)">Cambiar</button>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="mr-2" nbTooltip="Eliminar">
                                            <button class="ghost-btn" nbButton ghost>
                                                <nb-icon icon="close-outline" status="primary" (click)="removeDocumentSharedAccess(sharedAccess)"></nb-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nb-list-item>
                    </nb-list>
                </nb-card>
            </div>
        </div>
    </div>
    <div *ngIf="viewState == 'error'">
        Ha habido un problema al cargar los accesos compartidos a este documento. Intente recargar la página
    </div>
</div>
<ng-template #shareLinkDialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Enlace para compartir el documento</nb-card-header>
      <nb-card-body>{{data}}</nb-card-body>
      <nb-card-footer> 
        <button nbButton status="primary" class="mr-4" (click)="copyShareLink()">Copiar enlace</button>
        <button nbButton (click)="ref.close()">Cerrar</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
<ng-template #groupMembersTemplate let-members>
    <ul class="p-2">
        <li class="no-bullet" *ngFor="let member of members"> {{member.name}} {{member.lastName}}</li>
    </ul>
</ng-template>
