<nb-tabset>
    <nb-tab tabTitle="Contenido">
        <app-document-content></app-document-content>
    </nb-tab>
    <nb-tab tabTitle="Firmas" *ngIf="documentId" class="signatures-tab">
        <ng-template nbTabContent>
            <app-document-signatures></app-document-signatures>
        </ng-template>
    </nb-tab>
    <nb-tab tabTitle="Acceso compartido" *ngIf="documentId" class="signatures-tab">
        <app-document-shared-access></app-document-shared-access>
    </nb-tab>
</nb-tabset>  