<nb-layout>
  <nb-layout-column class="d-flex align-items-center justify-content-center"> 
    <nb-card>
      <nb-card-header>Reestablecer contraseña</nb-card-header>
      <nb-card-body>
        <ng-container *ngIf="!loading">
          <form *ngIf="!success" [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
              <label>Email</label>
              <input nbInput fullWidth formControlName="email" placeholder="Tu email" (input)="error = ''">
              <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
                Email inválido.
              </div>
            </div>
            <div class="d-flex justify-content-end" style="gap:.5rem;">
              <button nbButton fullWidth status="primary" type="submit" [disabled]="form.invalid">Reestablecer contraseña</button>
            </div>
          </form>
          <div class="text-center" *ngIf="success">
            <p class="text-success">Se envió un enlace al email ingresado con los pasos para restablecer la contraseña.</p>
          </div>
          <div class="text-danger mt-2" *ngIf="error">{{ error }}</div>
          <p class="text-center mt-4"><a routerLink="/login">Volver al login</a></p>
        </ng-container>
        <nb-spinner *ngIf="loading"></nb-spinner>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>