<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Dependencias</h1>
    <div class="d-flex align-items-center" style="gap: 0.5rem;">
        <div nbTooltip="Agregar dependencia">
            <button nbButton ghost status="primary" (click)="openEditIssuerDialog()">
                <nb-icon icon="plus-outline"></nb-icon>
            </button>
        </div>
    </div>
</div>
<ng-container *ngIf="!loading">
    <div class="d-flex mb-4">
        <div class="d-flex flex-column justify-content-center mr-2">Seleccionar estado:</div>
        <nb-select placeholder="Estado" [(ngModel)]="includeInactive" (ngModelChange)="loadIssuers()">
            <nb-option value="false">Activas</nb-option>
            <nb-option value="true">Inactivas</nb-option>
        </nb-select>
    </div>
    <div class="scrollable">
        <nb-card>
            <nb-list>
                <nb-list-item *ngFor="let issuer of issuers">
                    <div class="w-100 d-flex justify-content-between">
                        <div class="d-flex flex-column">
                            <b>{{issuer.description}}</b>
                        </div>
                        <div class="d-flex">
                            <div nbTooltip="Editar dependencia" *ngIf="!issuer.deletedAt">
                                <button class="ghost-btn" nbButton ghost (click)="openEditIssuerDialog(issuer)">
                                    <nb-icon icon="edit-outline" status="primary"></nb-icon>
                                </button>
                            </div>
                            <div nbTooltip="Configuración" *ngIf="!issuer.deletedAt">
                                <button class="ghost-btn" nbButton ghost (click)="openIssuerSettingsDialog(issuer)">
                                    <nb-icon icon="settings-2-outline" status="primary"></nb-icon>
                                </button>
                            </div>
                            <div nbTooltip="Eliminar dependencia" *ngIf="!issuer.deletedAt">
                                <button class="ghost-btn" nbButton ghost (click)="openDeactivateIssuerDialog(issuer)">
                                    <nb-icon icon="trash-2-outline" status="primary"></nb-icon>
                                </button>
                            </div>
                            <div nbTooltip="Reactivar dependencia" *ngIf="issuer.deletedAt">
                                <button class="ghost-btn" nbButton ghost (click)="openReactivateIssuerDialog(issuer)">
                                    <nb-icon icon="refresh-outline" status="primary"></nb-icon>
                                </button>
                            </div>                            
                        </div>
                    </div>
                </nb-list-item>
                <nb-list-item *ngIf="issuers.length === 0">
                    <div class="w-100 text-center text-muted">No hay dependencias en este estado.</div>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</ng-container>
<div class="d-flex justify-content-center" *ngIf="loading">
    <nb-spinner status="primary"></nb-spinner>
</div>
