.flex-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    height: calc(100vh - 11rem);
}


.scrollable {
    overflow-y: auto;
    flex-grow: 1; 
}

.scrollable nb-card:last-child {
    margin-bottom: 0;
}

.action-result {
    color: var(--text-primary-color);
    font-weight: 550;
}

.fade-out {
    animation: fadeOut ease 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}